$font-family: "Source Sans Pro", sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;

$dark-teal: #233D4D;

$orange: #FE7F2D;
$yellow: #FCCA46;
$green: #A1C181;
$medium-teal: #619B8A;

$spacing: 2rem;
