@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");

@import url("https://use.typekit.net/tlc0nvs.css");

@import "../../styles/variables.scss";
@import "../../styles/reset.scss";
@import "../../styles/animations.scss";
@import "../../styles/typography.scss";

// VARIABLES:
// $dark-teal: #233D4D;
// $orange: #FE7F2D;
// $yellow: #FCCA46;
// $green: #A1C181;
// $medium-teal: #619B8A;

.App {
  display: flex;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  body {
    font-family: sans-serif;
  }
}

.header {
  font-family: confiteria-script, sans-serif;
  font-weight: 900;
  font-style: normal;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-around;
  height: 50px;
  background-color: $dark-teal;
  color: $orange;
  padding: 1em;
  padding-top: 2em;
  transition: all 0.8s ease-in-out 600ms;
  .child {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
  }
  .bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease;
  }
  a {
    font-family: sans-serif;
     &:visited {
       color: $medium-teal;
     }
     &:hover {
       color: $green;  
     }
     &:active {
       color: $orange;
     }
   }
 } 
// VARIABLES:
// $dark-teal: #233D4D;
// $orange: #FE7F2D;
// $yellow: #FCCA46;
// $green: #A1C181;
// $medium-teal: #619B8A;


  .sign-up-sign-in {
    display: flex;
    flex-direction: row;
    padding: 1em;
    .sign-in-button {
      color: $yellow;
      font-weight: 900;
      background-color: $medium-teal;
      transition: all 0.5s ease-in-out 100ms;
    }
    .sign-up-button {
      color: $yellow;
      font-weight: 900;
      background-color: $dark-teal;
      transition: all 0.5s ease-in-out 100ms;
    }
  }


.mainpage {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: $green;
  transition: background-color 2s ease-out 100ms;
  color: $dark-teal;
  padding: 1em;
  
}


.sidebar {
  display: block;
  padding: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: $orange;
  color: $yellow;


  .sidebar-text {
    background-color: $yellow;
    color: $dark-teal;
    font-weight: 900;
    border-radius: 50%;
    padding: 2em;
    margin: 1em;
    transition: background-color 5s ease-out 100ms;
    transition: color 5s ease-out 102ms;
    transition: all 0.5s ease-in-out 100ms;
    &:hover {
      background-color: $dark-teal;
      color: $yellow;
      transform: scale(1.1);
      border-radius: 40%;
    }
    a {
      font-family: sans-serif;
       &:visited {
         color: $dark-teal;
       }
       &:hover {
         color: $yellow;  
       }
       &:active {
         color: $orange;
       }
      }
    
    
  }
}

.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $yellow;
  color: $dark-teal;
  padding: 1em;
}

.menu-table {
  table {
    border: 5px solid $orange;
    border-radius: 1%;
    width: 800px;
    height: 200px;
    padding: 10px;
    background-color: $yellow;
    color: $dark-teal;

    th {
      border: 5px solid $medium-teal;
      background-color: $green;
      border-radius: 10%;
      color: $dark-teal;

      transition: all 0.5s ease-in-out 100ms;
      &:hover {
        transform: scale(1.1);
        border-radius: 5%;
      }
    }

    td {
      text-align: center;
      color: $yellow;
      background-color: $medium-teal;
      transition: all 0.5s ease-in-out 100ms;
      &:hover {
        transform: scale(1.1);
        border-radius: 5%;
      }
    }
    .meal-title {
      border: 5px solid $medium-teal;
      background-color: $green;
      color: $dark-teal;
      font-weight: bold;
      transition: all 0.5s ease-in-out 100ms;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.groc-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $orange;
  color: $dark-teal;
  padding: 1em;
}

.pop-up-prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $green;
  color: $dark-teal;
  padding: 1em;
}

.sign-up-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $medium-teal;
  color: $yellow;
  padding: 1em;
}

.logged-in-view {
  background-color: $dark-teal;
  color: $yellow;
  padding: 1em;
  display: block;
  padding: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: $orange;
  color: $yellow;
}

.photo {
  height: 100px;
  width: 100px;
  transition: all 0.5s ease-in-out 100;
  &:hover {
    transform: scale(1.1);
  }
}

.menu-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $green;
  color: $dark-teal;
  padding: 1em;
  .photo {
    height: 100px;
    width: 100px;
  }
}

.settings-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $yellow;
  color: $dark-teal;
  padding: 1em;
}
.groc-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid $orange;
  border-radius: 1%;
  width: 800px;
  height: 200px;
  padding: 10px;
  background-color: $yellow;
  color: $dark-teal;
    .grocery-item {
      background-color: $orange;
      color: $dark-teal;
      background-color: $yellow;
      width: 60%;
      padding: 1em;
    }
}

.meals {

  .i-list {
    display: flex;
    flex-direction: column;
    max-height: 100px;
  }

  article {
    display: flex;
    background-color: $yellow;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem 3rem;
    max-width: 18rem;
    box-shadow: 0 4px 8px 5px rgba(77, 77, 77, 0.15);
    border-radius: 15px;
      &:hover {
        background-color: $medium-teal;
      }
  }

  .recipe-image {
    border-radius: 5px;
    box-shadow: 0 4px 8px 8px rgba(77, 77, 77, 0.15);
  }

}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 3rem;
  max-width: 18rem;
  padding: 1rem;
  background-color: $yellow;
  border-radius: 15px;
  box-shadow: 0 4px 8px 5px rgba(77, 77, 77, 0.15);
  .button {
    background-color: $orange;
    color: $dark-teal;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    box-shadow: 0 4px 8px 5px rgba(77, 77, 77, 0.15);
    &:hover {
      background-color: $medium-teal;
    }
  }
}

.daily-menu {
  max-width: fit-content;
  background-color: $green;
  border-radius: 15px;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
}

.recipe-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1em;
  background-color: $medium-teal;
  color: $dark-teal;
  font-weight: 700;
  font-size: 18px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 5px rgba(77, 77, 77, 0.15);

  }


.login-wrapper {
  display: flex;
  align-items: center;
  background-color: $orange;
  color: $dark-teal;
  padding: 1em;
    form{
      font-weight: 800;
      font-size: 18px;
      color: $dark-teal;
      background-color: $yellow;
      padding: 1em;
    }
    button {
      background-color: $orange;
      color: $dark-teal;
      border-radius: 5px;
      padding: 0.5rem;
      margin: 0.5rem;
      box-shadow: 0 4px 8px 5px rgba(77, 77, 77, 0.15);
      &:hover {
        background-color: $medium-teal;
      }
    }
}

.account-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $dark-teal;
  color: $yellow;
  padding: 1em;
  .photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out 100;
    &:hover {
      transform: scale(1.1);
    }
  }
}


// VARIABLES:
// $dark-teal: #233D4D;
// $orange: #FE7F2D;
// $yellow: #FCCA46;
// $green: #A1C181;
// $medium-teal: #619B8A;
