@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");

@import url("https://use.typekit.net/tlc0nvs.css");
// logo https://iili.io/HCnmwbt.png

@import "../../styles/variables.scss";
@import "../../styles/reset.scss";
@import "../../styles/animations.scss";
@import "../../styles/typography.scss";
@import "../../styles/mixins/mixins.scss";
@import "../../styles/animations/_usb-animation-pulse.scss";


//custom mouse https://iili.io/HCkbTHQ.png

// VARIABLES:
// $dark-teal: #233D4D;
// $orange: #FE7F2D;
// $yellow: #FCCA46;
// $green: #A1C181;
// $medium-teal: #619B8A;

#root {
  background-color: $dark-teal;
  box-sizing: border-box;

}
.header {
  display: flex;
  background-color: $dark-teal;
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  color: $orange;
  height: 200px;
 
  .header-left{
    display: flex;
    flex-direction: row;
    font-family: confiteria-script, sans-serif;
    text-decoration: none;
    align-items: flex-start;
    justify-content: space-evenly;
    img{
      width: 120px;
      padding: 2em;
      margin-left: 3em;
    }
  }
  .header-center{
      display: flex;
      flex-direction: row;
      font-family: confiteria-script, sans-serif;
      text-decoration: none;
      align-items: flex-start;
      justify-content: space-evenly;

    h1 {
      font-size: 3em;
      margin-left: 0.5em;
      color: $orange;
      text-decoration: none;
      text-shadow: $yellow 2px 4px 0;
      span {
        font-size: 72px;
        text-shadow: $yellow 4px 2px 0;

      }
    }
    
  }
  .child {
    align-self: flex-end;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    span {
      font-size: 50px;
    }
  }
  .bounce {
    animation-name: bounce;
    animation-timing-function: ease;
  }

  .header-right{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;


    button, a {
      padding: 0.5em;
      margin: 0.25em;
      text-decoration: none;
      font-family: sans-serif;
      font-size: 18px;
      font-weight: 600;
     
      &:visited {
        color: $medium-teal;
      }
      &:hover {
        color: $green;
        cursor: grab;  
      }
      &:active {
        color: $orange;
      }
      
      
    }
    .top-button {
      background-color: $dark-teal;
      border: 2px solid $medium-teal;
      color: $medium-teal;
      border-radius: 5px;
      
      margin-right: 1em;
      &:hover {
        background-color: $medium-teal;
        color: $dark-teal;
       
      }
    }
    .sign-in-button {
      @extend %usb-animation-pulse;
    }
    .sign-up-button {
      @extend %usb-animation-pulse;
    }
  }






}

.mainpage {
  display: flex;
  margin-top: 200px;
  height: 100%;
  background-image: url(https://iili.io/HCkpGtI.png);
  width: 100vw;

  .mainpage-content {
    display: flex;
    flex-direction: column;
    padding: 3em;
    .big-logo {
      width: 300px;
      height: 300px;
      padding-left: 700px;
    }
  }
}




.sidebar {
  font-family: sans-serif;

  font-size: 10px;
  display: flex;
  align-content: center;;
  padding: 1em;
  flex-direction: column;
  height: 2000px;
  align-items: center;
  background-color: $orange;
  color: $yellow;
  .sidebar-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .sidebar-text {
      align-self: center;
      justify-content: center;
      padding: 2em;
      background-color: $yellow;
      color: $dark-teal;
      font-weight: 900;
      border-radius: 50%;
      margin: 1.5em;
      box-shadow: 10px 10px 1px 0px $dark-teal ;
      &:hover {
        background-color: $dark-teal;
        color: $yellow;
        transform: scale(1.1);
        border-radius: 40%;
        box-shadow: 10px 10px 0px 0px $yellow;
      }
   
    
    }
  }
    a {
      justify-self: center;
      flex-wrap: nowrap;
      font-size: 24px;
      padding: 1em;
      text-decoration: none;
      font-family: sans-serif;
      &:visited {
        color: $medium-teal;
        
      }
      &:hover {
        color: $yellow;

      }
    
  }

}


// .menu-table {
//   table {
//     border: 5px solid $orange;
//     border-radius: 1%;
//     width: 800px;
//     height: 200px;
//     padding: 10px;
//     background-color: $yellow;
//     color: $dark-teal;

//     th {
//       border: 5px solid $medium-teal;
//       background-color: $green;
//       border-radius: 10%;
//       color: $dark-teal;

//       transition: all 0.5s ease-in-out 100ms;
//       &:hover {
//         transform: scale(1.1);
//         border-radius: 5%;
//       }
//     }

//     td {
//       text-align: center;
//       color: $yellow;
//       background-color: $medium-teal;
//       transition: all 0.5s ease-in-out 100ms;
//       &:hover {
//         transform: scale(1.1);
//         border-radius: 5%;
//       }
//     }
//     .meal-title {
//       border: 5px solid $medium-teal;
//       background-color: $green;
//       color: $dark-teal;
//       font-weight: bold;
//       transition: all 0.5s ease-in-out 100ms;
      
//     }
//   }
// }

// .groc-list {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   background-color: $orange;
//   color: $dark-teal;
//   padding: 1em;
// }

// .pop-up-prompt {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   width: 60%;
//   background-color: $green;
//   color: $dark-teal;
//   padding: 2em;
//   border: 5px solid $yellow;
//   border-radius: 5px;
//   transition: all 0.5s ease-in-out 100ms;
//   &:hover {
//     background-color: $medium-teal;
//   }
//     input {
//       background-color: $yellow;
//       font-size: 20px;
//       width: 40%;
//     }
// }

.logged-in-view {
  background-color: $dark-teal;
  color: $yellow;
  padding: 1em;
  display: block;
  padding: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: $orange;
  color: $yellow;
}

.photo {
  height: 100px;
  width: 100px;
  transition: all 0.5s ease-in-out 100;
  &:hover {
    transform: scale(1.1);
  }
}

.menu-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $green;
  color: $dark-teal;
  padding: 1em;
  .photo {
    height: 100px;
    width: 100px;
  }
}


.groc-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid $orange;
  border-radius: 1%;
  width: 100%;
  padding: 10px;
  background-color: $yellow;
  color: $dark-teal;
    .grocery-item {
      background-color: $orange;
      color: $dark-teal;
      background-color: $yellow;
      width: 60%;
      padding: 1em;
    }
}



  article {
    display: flex;
    background-image: url(https://iili.io/HCkpGtI.png);
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    object-fit: placeholder;
    
    box-shadow: $dark-teal 15px 10px 0px 0px;
    border-radius: 15px;
      &:hover {
        background-color: $medium-teal;
      }
  }

  .recipe-image {
    border-radius: 5px;
    width: 160px;
    box-shadow: $dark-teal 5px 3px 0px 0px;
    
    width: 160px;
  }



.how-to-container {  
  
  font-weight: 900;
  font-size: 20px;
  background-color: $green;
  border-radius: 15px;
  max-width: 600px;
}

.controls-container {
  display: flex;
  
  align-items: flex-start;
  background-image: url(https://iili.io/HCkpGtI.png);
  border-radius: 15px;
  button {
    padding: 0.5em;
    margin: 0.25em;
    text-decoration: none;
    font-family: sans-serif;
    background-color: $green;
    border: 2px solid $dark-teal;
    color: $dark-teal;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 1em;
    &:hover {
      background-color: $dark-teal;
      color: $green;
     
    }
    &:active {
      color: $yellow;
    }
  }
  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
  input {
    background-color: $yellow;
    font-weight: 900;
    height: 22px;
    margin: 2px;
    color: $dark-teal;
    border-radius: 15px;
    
  }

}
}
.meals {
  display: flex;
  flex-direction: row wrap;
  
  .i-list {
    display: flex;
    // flex-direction: column;
    max-height: 140px;
    max-width: 100vh;
    object-fit: placeholder !important;
  }
}




.recipe-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1em;
  background-color: $medium-teal;
  color: $dark-teal;
  font-weight: 700;
  font-size: 18px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 5px rgba(77, 77, 77, 0.15);
  
  
  }


.login-wrapper {
  display: flex;
  color: $dark-teal;
  justify-content: flex-start;
    
    form{
      
      background-color: $green;
      border-radius: 20%;
      box-shadow: $dark-teal 15px 15px 0px 0px;      
      font-size: 18px;
      color: $dark-teal;
      padding: 1em;
    }
    input {
      
      font-size: 18px;
      height: 30px;
      padding: 1em;
      color: $dark-teal;
      padding: 2px;
      border-radius: 15px;

    }

    button {
      padding: 0.5em;
      margin: 0.25em;
      text-decoration: none;
      font-family: sans-serif;
      background-color: $green;
      border: 2px solid $dark-teal;
      
      color: $dark-teal;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 600;
      margin-right: 1em;
      &:hover {
        background-color: $dark-teal;
        color: $green;
      }
      &:active {
        color: $yellow;
      }
    }
    h1 {
      font-size: 20px;
      font-weight: 900;
      color: $dark-teal;
    }
}

.account-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $dark-teal;
  color: $yellow;
  padding: 1em;
  .photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out 100;
    &:hover {
      transform: scale(1.1);
    }
  }
}



  .user-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $green;
    color: $dark-teal;
    padding: 1em;
    .photo {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      transition: all 0.5s ease-in-out 100;
      &:hover {
        transform: scale(1.1);
      }
    }
  }


.about-us {
  font-weight: 700;
  background-color: $green;
  border-radius: 15%;
  box-shadow: $dark-teal 15px 15px 0px 0px;  
  font-size: 20px;
  color: $dark-teal;
  width: 80%;
  padding: 1em;
  

}

.sign-up {
  display: flex;
  flex-direction: row;
  h1 {
    font-size: 20px;
    font-weight: 900;
    background-color: $green;
  }
  p {
    background-color: $green;
  }
  .footer-container {
    flex-direction: row;
  }
    input {   
      background-color: #FFFFFF;
      font-size: 18px;
      height: 16px;
      padding: 1em;
      color: $dark-teal;
      border-radius: 15px;
      padding: 2px;
      margin: 2px;
    }

    .drop-down {
      font-size: 18px;
      font-weight: 700;
      font-size: 20px;
      font-weight: 900;
      padding: 1em;
      color: $dark-teal;
      border-radius: 15px;
    }
    .signup-label {
      font-size: 18px;

    }
    .restrictions {
      font-size: 20px;
      font-weight: 500;
      
    }
    select {
      font-size: 18px;
      
      background-color: #FFFFFF;
      font-size: 20px;
      height: 50px;
      color: $dark-teal;
     
      border-radius: 15px;
    }

    button {
      padding: 0.5em;
      
      text-decoration: none;
      font-family: sans-serif;
      background-color: $green;
      border: 2px solid $dark-teal;
      
      color: $dark-teal;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 600;
      margin-right: 1em;
      &:hover {
        background-color: $dark-teal;
        color: $green;
       
      }
      &:active {
        color: $yellow;
      }
    }

}



.recipe-card {
 
 
  display: flex;
  flex-direction: column;
  
  background-color: $green;
  max-width: 100vw;
  

  color: $dark-teal;
  
  .recipe-card-header {
    display: flex;
    flex-direction: row;
    
    img {
      height: 200px;
      width: 300px;
      border-radius: 15%;
      padding: 1em;
    }
    .recipe-card-header-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $dark-teal;
      font-size: 16px;
      border-radius: 15px;
      border: 2px solid $dark-teal;
    }
  }
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  h1{
    font-size: 18px;
    font-weight: 900;
  
  }
  h4 {
    font-size: 18px;
  
  }
  .steps {
    font-size: 16px;
  }
  p {
    font-size: 18px;
    font-weight: 700;
  }
  ol {
    font-size: 18px;

  }
  li {
    padding: 4px;
  }
  .steps {
    flex-direction: row;
  }

}



//custom mouse https://iili.io/HCkbTHQ.png

// VARIABLES:
// $dark-teal: #233D4D;
// $orange: #FE7F2D;
// $yellow: #FCCA46;
// $green: #A1C181;
// $medium-teal: #619B8A;

.weekly-menu-container {
  display: flex;
  
    table {
      
        
      th {
       
        color: $yellow; 
      
        border: 3px solid $medium-teal;
        background-color: $dark-teal;
        color: $yellow;
        font-weight: bold;
      }
        
      td {
        text-align: center;
        color: $yellow;
        background-color: $medium-teal;
       
          // &:hover {
          //   transform: scale(1.1);
          //   border-radius: 5%;
          //   background-color: $yellow;
          // }
      }

    }

  a {
    text-decoration: none;
    color: $green;
    font-size: 18px;
    font-weight: 900;
    &:hover {
      color: $dark-teal;
      
    }
    &:active {
      color: $orange;
      
    }
  }
  .meal-title {
    border: 3px solid $medium-teal;
    background-color: $dark-teal;
    color: $yellow;
    font-weight: bold;
    
  }
  
 }



 //custom mouse https://iili.io/HCkbTHQ.png

// VARIABLES:
// $dark-teal: #233D4D;
// $orange: #FE7F2D;
// $yellow: #FCCA46;
// $green: #A1C181;
// $medium-teal: #619B8A;